* {
	box-sizing: border-box;
	font-family: 'Krub', sans-serif;
}

body {
	margin: 0px;
	overflow-x: hidden;
}

div.screen {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	background: rgb(117,25,175);
	background: linear-gradient(45deg, rgba(117,25,175,1) 0%, rgba(0,212,255,1) 100%);
	color: white;
}

div.portfolio {
	max-width: 600px;
	width: 100vw;
	margin: 0px auto;
	min-height: 100vh;
	padding: 30px;
}

div.portfolio h1 {
	position: relative;
	left: -12px;
	border-left: 2px solid #7519af;
	padding-left: 10px;
}

#bullshit {
	max-width: calc(100vw - 60px);
	width: 350px;
	background-color: white;
	color: black;
	display: inline-block;
	padding: 10px;
	margin-top: 5px;
}

div.screen a, div.screen a:visited {
	color: white;
	font-size: 16px;
}

div.portfolio a, div.portfolio a:visited {
	color: #367eda;
	font-size: 16px;
}

span.downarrow {
	font-size: 40px;
	position: relative;
	top: 8px;
}